body{
    margin:5px;
    padding:0;
    background-color: rgba(242, 242, 242, 0.5);
}
fieldset{
    padding:.35em .625em .75em;
    margin:0 2px;
    border:1px solid silver
}
legend{
    padding:.5em;
    border:0;
    width:auto;
    font-size:14px;
    margin-bottom:0;
}

.tab .nav-tabs{
    border: 0;
    margin-bottom: 10px;
}
.tab .nav-tabs li[role='presentation']{
    margin: 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.tab .nav-tabs li[role='presentation'] a{
    padding: 8px 20px;
}
.tab .nav-tabs li.fun-btn.fun-btn-first{
    margin-left: 100px;
    color: #f00;
 }
.tab .nav-tabs li.fun-btn{
    margin-right: 5px;
}
.tab .nav-tabs li.fun-btn button{
    height: 26px;
    width: 80px;
    font-size: 12px;
    padding: 0;
    border-radius: 0;
}
.tab .nav-tabs li a{
    font-size: 13px;
    color: #999898;
    margin: 0;
    padding: 5px 20px;
    border-radius: 0;
    border: none;
    border-right: 1px solid #ddd;
    position: relative;
}
.tab .nav-tabs li:nth-child(1) a{
    border-left: 1px solid #ddd;
}
.tab .nav-tabs li a:hover{
    border-top: none;
    border-bottom: none;
    border-right-color: #ddd;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:hover{
    color: #fff;
    border: none;
    background: #96b97d;
    border-right: 1px solid #ddd;
}
.tab .nav-tabs li.active a:after{
    content: "";
    border-top: 8px solid #96b97d;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 43%;
}
.tab .tab-content{
    font-size: 13px;
    color: #999898;
    line-height: 20px;
    padding: 0 15px;
}
.tab .tab-content h3{
    font-size: 24px;
    color: #999898;
    margin-top: 0;
}
.device-manage-menu{
    margin-bottom: 10px;
}
.device-manage-menu button{
    height: 26px;
    width: 80px;
    font-size: 12px;
    padding: 0;
    border-radius: 0;
}
.phone-screen{
    width: 120px;
    height: 190px;
    float: left;
    margin-right:10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
}
.phone-screen .screen-img{
    text-align: center;
    height: 170px;
    width: 120px;
}
.phone-screen .screen-img img{
    max-width:120px;
    max-height: 170px;
    margin: 0 auto;
    cursor: pointer;
}
.phone-screen .screen-status{
    height: 20px;
    border-top: 1px solid #eee;
    text-align: center;
}
.phone-screen .screen-status .screen-pos{
    display: inline-block;
    line-height: 20px;
    position: relative;
    top: -2px;
}
.phone-screen .screen-status .phone-status{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-top: 3px;
    margin-left: 6px;
    background-color: #00ff00;
}
.phone-screen .screen-status .phone-status.disabled{
    background-color: #ff5555;
}

#list-check-correspondence,
#list-access-device,
#list-remove-device,
#list-virtual-identity,
#list-import-picture,
#list-contacts-book,
#list-device-apk{
    margin: 0;
}
/** 接入设备 **/
span.access-device-status{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-top: 3px;
    margin-left: 6px;
}
span.access-device-status.device-status0{
    background-color: #ff00ff;
}
span.access-device-status.device-status1{
    background-color: #ff0000;
}
span.access-device-status.device-status2{
    background-color: #00ff00;
}
/** 设备信息窗口 **/
#device-info .device-info-screen{
    text-align: center;
    width: 270px;
    position: relative;
    left: 40px;
}
#device-info .device-info-screen img{
    width: 100%;
    max-height: 1280px;
}
#device-info-screen-mask{
    width: 250px;
    background: #eee;
    opacity: 0.05;
    position: absolute;
    left: 40px;
}
#screen-input{
    position: absolute;
    width: 100px;
    height: 30px;
    border: 1px solid #3f3f3f;
    border-radius: 2px;
    display: none;
    z-index: 100;
    padding: 1px 5px;
    opacity: 0.2;
}
.device-info-menu{
    margin: 10px;
    text-align: center;
}
.device-info-menu button{
    height: 30px;
    width: 60px;
    font-size: 12px;
    border-radius: 0;
}
#device-info .tab .nav-tabs li a{
    padding: 3px 20px;
}
#device-operation-table{
    width: 96%;
    text-align: center;
    border: 1px solid #eee;
}
#device-operation-table td{
    padding: 5px 0;
}
#device-operation-table td.operate-btn{
    cursor: pointer;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
}
#device-operation-table td.operate-btn:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
#assist-operation-container{
    overflow-x: hidden;
    overflow-y: scroll;
}
#assist-operation-container .form-group{
    margin-bottom: 5px;
}
#assist-operation-container label{
    font-weight: 100;
    font-size: 12px;
    padding:0;
    line-height:26px;
}
#assist-operation-container .input-area{
    padding-left: 2px;
}
#assist-operation-container input{
    border-radius: 2px;
    height: 26px;
    padding: 2px 12px;
    color: #777;
}
#assist-operation-container .device-info-menu button{
    width: 100px;
}
#virtual-identity-table{
    width: 96%;
    text-align: center;
    border: 1px solid #eee;
}
#virtual-identity-table td{
    padding: 5px 0;
}
#virtual-identity-table td.item-label{
    width: 40%;
    text-align: right;
    padding-right: 5px;
}
#virtual-identity-table select[name='vitual-user-list']{
    width: 100%;
    height: 26px;
    padding-left: 80px;
    border: 0;
}
#virtual-identity-table select[name='vitual-user-list'] option{
    height: 24px;
    line-height: 24px;
    text-align: center;
}
/** google map **/
.google-map-container{
    padding: 0;
}
#google-map{
    border:1px solid #999;
    padding-right: 5px;
    margin-left: 1px;
}
.google-map-tool-container{
    padding: 10px;
}
#autocomplete-input{
    width: 100%;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #999;
}
#position-list{
    font-size: 12px;
    width: 100%;
}
#position-list ul{
    width: 100%;
    height: 400px;
    overflow-y: auto;
    padding-left: 0;
    border-top: 1px solid #ddd;
}
#position-list ul li{
    list-style: none;
    width: 100%;
    border: 1px solid #ddd;
    border-top: 0;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
#position-list ul li:hover{
    background: #eee;
}
#position-form label{
    font-size: 12px;
    font-weight: 100;
}
#position-form div#position-polygon-show{
    font-size: 12px;
    white-space: nowrap;
    border: 1px solid #ddd;
    height: 160px;
    overflow-y: auto;
}
#position-form input{
    font-size: 12px;
}
#position-form .form-button{
    text-align: center;
}
#position-form button{
    width: 60px;
    height: 26px;
    font-size: 12px;
    padding: 4px;
}
.pac-container{
    z-index: 10000;
}
